# Data Science 1: Working with data in SQL

This notebook reviews some SQL analysis basics using SQLite, Pandas, and a dataset from Seaborn. Completing the notebook will verify that you have the correct python libraries installed for our data visualization and analysis exercises. There are Exercise cells with commented out code - you should uncomment the code by removing the `#` and write your own solution.

In [ ]:
# import libraries we will use

import sqlite3
import pandas as pd
import seaborn as sns

In [ ]:
# create local database file and connection
con = sqlite3.connect('mydatabase.db')

# load data from seaborn
health_df = sns.load_dataset("healthexp")

# use pandas to_sql to create a table called 'healthexp' in the sqlite database
try:
    health_df.to_sql("healthexp", con, index=False)
except ValueError:
    print("Table already exists")

### Data exploration

In [ ]:
# let's have a look at the table of data we just created using SELECT
# (LIMIT can be used to limit the number of rows returned, but beware the result may not be in order)

query = """SELECT * FROM healthexp LIMIT 5"""
pd.read_sql_query(query, con)

In [ ]:
# what years are in the data set? we can use max and min on the year column to find out

query = """SELECT COUNT(DISTINCT year), max(year), min(year) FROM healthexp"""
pd.read_sql_query(query, con)

### Filtering data using a condition (WHERE clauses)

In [ ]:
# WHERE can be added after the SELECT FROM to filter the data in your query using conditions
# You can use a single condition or multiple conditions using AND and OR as well as parentheses

query = """
    SELECT * FROM healthexp
    WHERE country = 'Japan' AND year = 1975
"""
pd.read_sql_query(query, con)

In [ ]:
# The following where clause uses BETWEEN to return a specific range of years 
query = """
    SELECT * from healthexp
    WHERE country = 'Japan' AND year BETWEEN 1975 AND 1985 
    ORDER BY year DESC
"""
pd.read_sql_query(query, con)

### Exercise: What was the life expectancy in Germany in 1985?

In [ ]:
# query = """
#     UNCOMMENT AND WRITE YOUR QUERY HERE
# """
# pd.read_sql_query(query, con)

### Group By - aggregation functions

In [ ]:
# GROUP BY - avg, count, sum, max, min
query = """
    SELECT country, avg(life_expectancy) as avg_life_expectancy
    FROM healthexp
    GROUP BY country
"""
pd.read_sql_query(query, con)

### Exercise: What country had the highest sum of health expenditure in between 1990 and 2000 (inclusive)

In [ ]:
# query = """
#     UNCOMMENT AND WRITE YOUR QUERY HERE
# """
# pd.read_sql_query(query, con)

### Filtering Group By results with HAVING

In [ ]:
# HAVING - this is a condition similar to WHERE but applied to the result of the group by
# ORDER BY - a column to order the query result by, ascending by default, adding DESC will reverse the order
query = """
    SELECT country, sum(spending_usd) as sum_spending
    FROM healthexp
    WHERE year BETWEEN 1990 and 2000
    GROUP BY country
    HAVING sum_spending > 20000
    ORDER BY sum_spending DESC
"""
pd.read_sql_query(query, con)

### Exercise: What countries had average life expectancy above 73 between 1970 and 1979?

In [ ]:
# query = """
#     UNCOMMENT AND WRITE YOUR QUERY HERE
# """
# pd.read_sql_query(query, con)

When you are done, the following code will erase the table we created from the database file and close the database connection

In [ ]:
# cleanup
# drop table
con.execute("DROP TABLE healthexp")
  
# close the connection
con.close()